<div class="background">
<nav style="display: flex; justify-content: center; align-items: center; height: 100px; background-color: #f0f0f0;">
  <h1 style="margin: 0;">Temperature Data App</h1>
</nav>
<div class="button-container">
  <button (click)="setView('add')" [class.active]="currentView === 'add'">Add Data</button>
  <button (click)="setView('view')" [class.active]="currentView === 'view'">View Data</button>
</div>
  <div id="add-data" class="content-section" >
<app-add-data *ngIf="currentView === 'add'"></app-add-data>
</div>
<div id="view-data" class="content-section" style="display:none;">
<app-view-data *ngIf="currentView === 'view'"></app-view-data>
</div>

<router-outlet />
</div>